.style-image-container {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: 700px) {
    display: block;
    overflow-y: scroll;
  }
}
.image-filter {
  width: 50%;
  height: 100%;

  @media (max-width: 700px) {
    width: 100%;
    height: fit-content;
  }
}
.frame-image-container {
  @media (max-width: 700px) {
    margin: -70%;
    transform: scale(0.5);
    height: fit-content;
  }
}
.input-image-container {
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    display: none;
  }
}
.tab-container {
  margin-top: 20px;
  background-color: #f7c0fb;
}
.image-output-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: 1px solid #ebebeb;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    position: static;
    width: 100%;
    height: fit-content;
  }
}
.filters {
  padding: 24px;
}
.single-filter-container {
  padding-top: 8px;
  padding-bottom: 8px;
}
.filter-title {
  font-weight: 500;
  color: #484646;
}
.slider {
  width: 100%;
}
.tab-item {
  cursor: pointer;
}
.btn-download {
  position: absolute;
  bottom: 0;
  margin: 20px;
  width: 200px;

  @media (max-width: 700px) {
    position: static;
    width: fit-content;
    height: fit-content;
    margin-top: 12px;
  }
}
.frame-card {
  width: 100px;
  height: 100px;
  margin: 8px;
  &:hover {
    color: #ffffff;
  }
}