@import "~bootstrap/scss/bootstrap";

.base-background{
    background: rgb(244,8,58);
    background: linear-gradient(225deg, rgba(244,8,58,1) 0%, rgba(250,27,168,1) 16%, rgba(255,255,255,1) 70%);
    height: 100vh;
}